.a{
	height: 2600px;
	width: 750px;
	border: 1px black solid;
	background-color: black;

}
.a1{
	height:800px;
	width: 700px;
	border: 1px black solid;
	margin: 20px;
	background-image: url('../img for proj/img 1.webp');

}
.d{height:800px;
	width: 700px;
	border: 1px black solid;
	margin: 20px;

}
.g{height:900px;
	width: 700px;
	border: 1px black solid;
	margin: 20px;

}
.b{
	height: 400px;
	width: 700px;
	border: 1px black solid;
}
.c{
	height: 400px;
	width: 700px;
	border: 1px black solid;
}
.c1{
	height: 350px;
	width: 200px;
	border: 1px black solid;
	float: left;
	margin: 15px;
	background-image: url('../img for proj/sea img 2.jpg');
}
.c2{height: 350px;
	width: 200px;
	border: 1px black solid;
	float: left;
	margin: 15px;
	background-image: url('../img for proj/img 4.jpg');
}
.c3{	height: 350px;
	width: 200px;
	border: 1px black solid;
	float: left;
	margin: 15px;
	background-image: url('../img for proj/sea img.jpg');
}
h1{
	color: white;
}
h5{
	color: white;
}
button{
border-radius: 10px;

}
.d1{height: 300px;
	width: 700px;
	background-image: url('../img for proj/elep.jpg');
	background-size: cover;
}
.d2{
	height: 200px;
	width: 700px;
	background-color: black;
}
.d3{
	height: 200px;
	width: 700px;
	background-image: url('../img for proj/img 5.jpg');

}
.d4{
	height: 50px;
	width: 700px;
	background-color: black;
}
.d6{
	height: 70px;
	width: 325px;
	margin-bottom: 20px;
	margin-right: 40px;
	float: left;
	background-image: url('../img for proj/sea img 2.jpg');
}
.d7{
	height: 70px;
	width: 325px;
	float: left;
	margin-bottom: 20px;
	background-image: url('../img for proj/sea img.jpg');
}
.g1{height: 200px;
	width: 700px;
	background-color: black;

}
.h1{height: 200px;
	width: 325px;
	margin-bottom: 20px;
	margin-right: 40px;
	float: left;
	background-image: url('../img for proj/sea img 2.jpg');
}
.h2{height: 200px;
	width: 325px;
	float: left;
	margin-bottom: 20px;
	background-image: url('../img for proj/sea img.jpg');

}
.g2{
	background-color: black;
	height: 200px;
	width: 700px;
}
.g3{
	height:300px ;
	width: 700px;

}
.g4{
	height: 100px;
	width: 700px;
	color: white;
	background-color: black;
}
.g5{
	height: 100px;
	width: 700px;
	background-color: gray;
	color: white;
}
#m{height: 100px;
	width: 230;
	float: left;
	margin-right: 50px;

}
.s1{height: 300px;
	width: 180px;
background-image: url('../img for proj/img 1.webp');
float: left;
}
.s2{height: 300px;
	width: 180px;
background-image: url('../img for proj/elep 3.jpg');
float: left;
}
.s3{height: 300px;
	width: 180px;
background-image: url('../img for proj/img 4.jpg');
float: left;
}
.s4{height: 300px;
	width: 150px;
background-image: url('../img for proj/img 3.jpg');
float: right;
}